.formContainer {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 8px;
    font-weight: 600;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input #file {
    padding: 20px;
    border: 1px solid #777;
    border-radius: 4px;
}

.button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0d5a2c92;
    }
}   

.errorMessage {
    color: #ff0000;
    font-weight: 600;
    padding: 10px;
}

.successMessage {
    color: #044c04;
    font-weight: 600;
    padding: 10px;
}